body {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 146, 162);
}
#mainSectionBody {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
    border: 2px solid black;
    border-radius: 3px;
}
div {
    background-color: rgb(147, 146, 162);
    border: 1px solid black;
    border-radius: 5px;
}
button {
    border-radius: 5px;
    background-color: rgb(162, 147, 146);
}
